MYSQL_ROOT_PASSWORD=cambia_esta_clave_root
DB_NAME=el_vitral_db
DB_USER=el_vitral_user
DB_PASSWORD=cambia_esta_clave_db

JWT_SECRET=pon_un_secreto_largo_y_dificil_de_adivinar

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=